<html lang="en" class="no-js">

<head>
  <style type="text/css">
    @charset "UTF-8";
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
      display: none !important;
    }
    
    ng\:form {
      display: block;
    }
    
    .ng-animate-shim {
      visibility: hidden;
    }
    
    .ng-anchor {
      position: absolute;
    }
  </style>
  <meta name="robots" content="noodp,nodir,noydir">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <style data-styles="">
    base-styles,
    docs-card,
    test-app,
    test-app-dropdowns,
    test-app-dropdowns-search,
    test-app-modals,
    test-app-sliders,
    ugc-cookie-banner,
    ugc-cookie-banner-internal,
    up-c-alert,
    up-c-auto-scroll,
    up-c-avatar,
    up-c-bottom-sheet,
    up-c-bottom-sheet-header,
    up-c-btn,
    up-c-card,
    up-c-card-footer,
    up-c-card-header,
    up-c-card-section,
    up-c-close-icon,
    up-c-container,
    up-c-dialog,
    up-c-dropdown,
    up-c-dropdown-item,
    up-c-dropdown-search,
    up-c-dropdown-toggle,
    up-c-error-page,
    up-c-file-picker,
    up-c-file-picker-dropbox,
    up-c-form-group,
    up-c-fullscreen,
    up-c-fullscreen-placeholder,
    up-c-fullscreen-styles,
    up-c-header,
    up-c-icon,
    up-c-icon-demo-page,
    up-c-illustration,
    up-c-img,
    up-c-img-progressive,
    up-c-infinite-scroll,
    up-c-input-clear,
    up-c-intersection-observer,
    up-c-intl-phone-number,
    up-c-job-success-score,
    up-c-line-clamp,
    up-c-load-button,
    up-c-load-svg,
    up-c-logo,
    up-c-media-object,
    up-c-modal,
    up-c-on-click-outside,
    up-c-on-drop-outside,
    up-c-on-media-change,
    up-c-pagination,
    up-c-prevent-body-scroll,
    up-c-prevent-body-scroll-styles,
    up-c-progress-bar,
    up-c-progress-loader-bar,
    up-c-relative-time,
    up-c-row,
    up-c-select,
    up-c-select-option,
    up-c-skip-link,
    up-c-slider,
    up-c-sortable,
    up-c-sticky-footer,
    up-c-table,
    up-c-toaster,
    up-c-toaster-container,
    up-c-toggle,
    up-c-toggler,
    up-c-transition,
    up-docs-illustration-page,
    up-footer,
    up-footer-copyright,
    up-footer-feedback-form,
    up-footer-feedback-link,
    up-footer-feedback-modal,
    up-footer-links-section,
    up-footer-skinny,
    up-footer-social-links,
    up-footer-visitor,
    up-footer-visitor-accordion,
    up-footer-visitor-accordion-item,
    up-header-offcanvas-toggle,
    up-header-on-body-scrolled-change,
    up-header-search,
    up-header-search-menu,
    up-header-visitor-dropdown-menu-subnav,
    up-header-visitor-primary-nav,
    up-track {
      visibility: hidden
    }
    
    .hydrated {
      visibility: inherit
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/ab/assets/Adquiro/e28957d/apple-touch-icon.png">
  <link rel="canonical" href="/i/how-it-works/client/">
  <title>How It Works - Upwork</title>
  <link rel="stylesheet" href="/ab/assets/Adquiro/64c2a81/wp/i-hiw-client.a927a1.css">
  <meta name="alexaVerifyID" content="jLn8sS342tB8jpIVZLQVC_AFpLg">
  <a tabindex="-1" aria-hidden="true" href="/i/how-it-works/client/?_pxhc=1573625321651" rel="nofollow" target="_blank" style="width: 0px; height: 0px; font-size: 0px; line-height: 0;"></a>
  <style type="text/css" id="nmgStyle"></style>
  <style type="text/css" id="ki-ph2-prc"></style>
  <style type="text/css" id="ki-ph2-pro"></style>
</head>

<body class="ng-scope" data-ng-app="uiApplet">
  <div class="off-canvas-wrap" ui-off-canvas="">
    <div id="body-content-wrapper" class="inner-wrap">
      <nav data-qa-section="primary-navbar" itemscope="" itemtype="http://schema.org/SiteNavigationElement" class="primary-navbar navbar navbar-default font-gotham-medium m-b-0 secondary navbar-fixed-top  ng-scope" data-qa="fixed_header" role="navigation" aria-label="Navbar">
        <div class="navbar-top-container container">
          <div class="navbar-header navbar-main-header">
            <a data-qa="logo" href="/" class="navbar-brand" tabindex="1" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="upwork_logo_image" tracking-value="" tracking-item-type="null"
              tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"><img src="/logo.svg" alt="Upwork" data-preload=""></a><button data-qa="hamburger_button" aria-controls="visitor-nav" type="button" class="navbar-toggle " tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar"
              tracking-data="[]" tracking-label="" tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
          <div class="collapse navbar-collapse">
            <div class="mobile-menu-wrapper" id="visitor-nav">
              <div class="ng-scope" data-qa="search" data-ng-controller="uiSearchController" data-ng-init="searchActions.flUrl = '/search/profiles/'; searchActions.jobUrl = '/search/jobs/'">
                <form role="search" action="/search/profiles/" ng-action="action" method="get" ng-submit="search()" ng-init="context = 'client';tracking_context= ('client' == 'client') ? 'freelancer' : 'job';" class="navbar-form navbar-left ng-pristine ng-valid ng-isolate-scope ng-valid-maxlength"
                  tracking-event="enter" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="{&quot;toggle_selection&quot;:&quot;freelancer&quot;,&quot;query&quot;:&quot;&quot;}" tracking-label="fl_search"
                  tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga">
                  <div class="form-group dropdown" eo-dropdown="">
                    <label for="search" class="sr-only">Search freelancers or jobs</label>
                    <div data-qa="s_button" class="input-group dropdown dropdown-toggle" aria-haspopup="true" eo-dropdown-toggle="" aria-expanded="false">
                      <div class="input-group-addon input-search-icon" tabindex="5"><span class="glyphicon air-icon-search" aria-hidden="true"></span></div>
                      <div class="input-group-addon input-dropdown-arrow-icon p-l-0" tabindex="2" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="fl_job_search_dropdown" tracking-value=""
                        tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"><span class="glyphicon air-icon-arrow-expand" aria-hidden="true"></span></div>
                    </div>
                    <ul data-qa="search_field_dropdown" class="dropdown-menu text-capitalize" eo-dropdown-menu="">
                      <li ng-class="{active: context == 'client'}" class="active"><a data-qa="freelancer_value" href="javascript:void(0)" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="fl_search_from_dropdown" tracking-value=""
                          tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga" tabindex="4" ng-click="context = 'client';tracking_context='freelancer';isOpen = false">Find freelancers</a></li>
                      <li ng-class="{active: context == 'freelancer'}"><a data-qa="client_value" href="javascript:void(0)" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="job_search_from_dropdown" tracking-value=""
                          tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga" tabindex="3" ng-click="context = 'freelancer';tracking_context='job';isOpen = false">Find jobs</a></li>
                    </ul>
                    <input id="search-freelancers" type="radio" ng-model="context" value="client" ng-disabled="actionSelectDisabled" class="ng-pristine ng-untouched ng-valid ng-not-empty" name="7"><input id="search-jobs" type="radio" ng-model="context"
                      value="freelancer" ng-disabled="actionSelectDisabled" class="ng-pristine ng-untouched ng-valid ng-not-empty" name="8"><input data-qa="s_input" placeholder="Find Freelancers" ng-placeholder="placeholder" maxlength="100" autocomplete="off"
                      ng-model="query" eo-focus="focus" type="text" name="q" id="q" class="navbar-search-field form-control font-gotham-medium ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-maxlength" tabindex="6">
                  </div>
                </form>
              </div>
              <div class="navbar-btn-group navbar-right text-center hidden-sm hidden-xs">
                <div class="btn-container"><a href="/signup/?dest=job-posting" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="post_a_job_button" tracking-value="" tracking-item-type="null"
                    tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga" data-qa="cta_post_job" class="btn navbar-btn btn-sm btn-primary text-xshort "> Post a Job </a></div>
              </div>
              <ul class="nav navbar-nav navbar-right has-right-menu ">
                <li class=" active "><a href="/i/how-it-works/client/" class="text-uppercase menu-label" tabindex="7" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="hiw_link"
                    tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> How it works </a></li>
                <li class=" hidden-md hidden-lg"><a href="/ab/account-security/login" class="text-uppercase menu-label" tabindex="7" data-qa="login_mobile" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]"
                    tracking-label="login_link" tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Login </a></li>
                <li class=" hidden-md hidden-lg"><a href="/signup/?dest=home" class="text-uppercase menu-label" tabindex="7" data-qa="signup_mobile" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="sign_up_link"
                    tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Sign up </a></li>
                <li class="dropdown dropdown-submenu tablet-right-submenu hidden-md hidden-lg browse-categories" eo-dropdown="">
                  <a href="" class="text-uppercase menu-label dropdown-toggle" tabindex="7" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="browse_dropdown" tracking-value=""
                    tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga" eo-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><span class="glyphicon air-icon-arrow-next hidden-lg hidden-md hidden-sm"></span> Browse </a>
                  <ul class="font-gotham-book m-t-0 list-unstyled" eo-dropdown-menu="">
                    <li class=" "><a href="/cat/developers/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Web Dev&quot;}" tracking-label="web_dev_link" tracking-value=""
                        tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Web Dev </a></li>
                    <li class=" "><a href="/cat/mobile-developers/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Mobile Dev&quot;}" tracking-label="mobile_dev_link"
                        tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Mobile Dev </a></li>
                    <li class=" "><a href="/cat/designers/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Design&quot;}" tracking-label="design_link" tracking-value=""
                        tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Design </a></li>
                    <li class=" "><a href="/cat/writing/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Writing&quot;}" tracking-label="writing_link" tracking-value=""
                        tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Writing </a></li>
                    <li class=" "><a href="/cat/administrative-support/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Admin Support&quot;}" tracking-label="admin_support_link"
                        tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Admin Support </a></li>
                    <li class=" "><a href="/cat/customer-service/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Customer Service&quot;}" tracking-label="customer_service_link"
                        tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Customer Service </a></li>
                    <li class=" "><a href="/cat/sales-marketing/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Marketing&quot;}" tracking-label="marketing_link"
                        tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Marketing </a></li>
                    <li class=" "><a href="/cat/accounting-consulting/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Accounting&quot;}" tracking-label="accounting_link"
                        tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Accounting </a></li>
                    <li class=" "><a href="/hire/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;See All Categories&quot;}" tracking-label="view_all_categories_link"
                        tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> See All Categories </a></li>
                  </ul>
                </li>
                <li class=" visible-xs visible-sm"><a href="/about/" class="text-uppercase menu-label" tabindex="7" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="about_us_link" tracking-value=""
                    tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> About us </a></li>
                <li class=" visible-xs visible-sm"><a href="/about/contact/" class="text-uppercase menu-label" tabindex="7" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="contact_us_link"
                    tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Contact us </a></li>
                <li class=" visible-xs visible-sm"><a href="/careers.upwork.com/homepage" class="text-uppercase menu-label" tabindex="7" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="careers_link"
                    tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Careers </a></li>
                <li class=" hidden-xs hidden-sm"><a href="/ab/account-security/login" class="text-uppercase menu-label" tabindex="7" data-qa="login" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="login_link"
                    tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Login </a></li>
                <li class=" hidden-xs hidden-sm"><a href="/signup/?dest=home" class="text-uppercase menu-label" tabindex="7" data-qa="signup" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="sign_up_link"
                    tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Sign up </a></li>
              </ul>
              <div class="empty-space-block visible-xs visible-sm"></div>
              <ul class="nav navbar-nav navbar-left"></ul>
            </div>
            <div class="navbar-btn-group navbar-right text-center hidden-md hidden-lg">
              <div class="btn-container"><a href="/signup/?dest=job-posting" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="primary_nav_bar" tracking-data="[]" tracking-label="post_a_job_button" tracking-value="" tracking-item-type="null"
                  tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga" data-qa="cta_post_job_mobile" class="btn navbar-btn btn-sm btn-primary text-xshort "> Post a Job </a></div>
            </div>
          </div>
        </div>
        <div class="navbar-bottom-container">
          <div class="container">
            <ul class="navbar-nav navbar-bottom font-gotham-medium list-unstyled hidden-xs hidden-sm hidden-primary" style="height: 40px;">
              <li><a href="/cat/developers/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Web Dev&quot;}" tracking-label="web_dev_link" tracking-value=""
                  tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Web Dev </a></li>
              <li><a href="/cat/mobile-developers/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Mobile Dev&quot;}" tracking-label="mobile_dev_link"
                  tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Mobile Dev </a></li>
              <li><a href="/cat/designers/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Design&quot;}" tracking-label="design_link" tracking-value=""
                  tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Design </a></li>
              <li><a href="/cat/writing/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Writing&quot;}" tracking-label="writing_link" tracking-value=""
                  tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Writing </a></li>
              <li><a href="/cat/administrative-support/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Admin Support&quot;}" tracking-label="admin_support_link"
                  tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Admin Support </a></li>
              <li><a href="/cat/customer-service/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Customer Service&quot;}" tracking-label="customer_service_link"
                  tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Customer Service </a></li>
              <li><a href="/cat/sales-marketing/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Marketing&quot;}" tracking-label="marketing_link"
                  tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Marketing </a></li>
              <li><a href="/cat/accounting-consulting/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;Accounting&quot;}" tracking-label="accounting_link"
                  tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> Accounting </a></li>
              <li><a href="/hire/" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnavigation_bar" tracking-data="{&quot;category&quot;:&quot;See All Categories&quot;}" tracking-label="view_all_categories_link"
                  tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga"> See All Categories </a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="navbar-fixed-push secondary"></div>
      <main role="main">
        <div class="jumbotron section-video with-nav bg-cloud with-cta __mod-bg-hiw">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h1>How It Works</h1>
                <p class="text-long">An overview of how work happens on Upwork.</p>
              </div>
            </div>
            <div class="section-video">
              <div class="play-btn"><a href="/signup/?dest=home" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="video-modal-button" tracking-data="[]" tracking-label="" tracking-value="" tracking-item-type="null" tracking-olog="1"
                  tracking-snowplow="1" tracking-gtm="1" tracking-element="button-link" tracking-gtm-event="ga" class=" btn btn-primary"> Get Started </a></div>
            </div>
          </div>
          <div class="nav-holder">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 col-lg-offset-2-half col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                  <ul class="nav nav-tabs nav-justified" role="menu">
                    <li role="menuitem" id="faq-1" class="active"><a href="/i/how-it-works/client/">If you're hiring</a></li>
                    <li role="menuitem" id="faq-2"><a href="/i/how-it-works/freelancer/">If you're working</a></li>
                    <li role="menuitem" id="faq-3"><a href="/i/how-it-works/faq/">FAQs</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section data-qa-section="subnav-with-dropdown" class="" style="">
          <div nav-scrollspy="" scroll-offset-mobile="0" scroll-offset-tablet="0" scroll-offset-desktop="0" class="second-menu" style="">
            <nav data-qa="category_navigation" role="navigation" class="nav nav-subnav sub-nav-menu text-center hidden-xs">
              <div class="container">
                <div class="row">
                  <div class=" col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="inner-wrapper">
                      <ul nav-responsive="" has-cta="" elem-count="4" class="sub-nav-links nav-links list-inline m-r-0 ng-isolate-scope">
                        <li data-qa="list" nav-responsive-elem="" elem-id="1" class="ng-scope active"><a data-qa="list_link" href="#find" href="#find" duration="600" offset="-71"> Find </a></li>
                        <li data-qa="list" nav-responsive-elem="" elem-id="2" class="ng-scope"><a data-qa="list_link" href="#hire" href="#hire" duration="600" offset="-71"> Hire </a></li>
                        <li data-qa="list" nav-responsive-elem="" elem-id="3" class="ng-scope"><a data-qa="list_link" href="#work" href="#work" duration="600" offset="-71"> Work </a></li>
                        <li data-qa="list" nav-responsive-elem="" elem-id="4" class="ng-scope"><a data-qa="list_link" href="#pay" href="#pay" duration="600" offset="-71"> Pay </a></li>
                        <li nav-responsive-elem="" elem-more="true" eo-dropdown="" dropdown-append-to-body="" class="dropdown sub-nav-more hidden-xs ng-scope ng-hide active"><a href="" eo-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">More</a></li>
                      </ul>
                      <a data-qa="cta" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnav-with-dropdown" tracking-data="[]" tracking-label="" tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1"
                        tracking-gtm="1" tracking-element="sub-nav-cta" tracking-gtm-event="ga" class="btn btn-primary hidden-xs" href="/signup/?dest=home">Get Started</a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
            <div eo-dropdown="" nav-dropdown-state="" class="sub-nav-dropdown dropdown hidden">
              <button id="sub-nav-dropdown" eo-dropdown-toggle="" aria-expanded="false" tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="subnav-with-dropdown" tracking-data="[]" tracking-label="" tracking-value="" tracking-item-type="null"
                tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="sub-nav-dropdown" tracking-gtm-event="ga" aria-haspopup="true" type="button" class="btn btn-default btn-block ng-binding dropdown-toggle" href="#sub-nav-dropdown"
                duration="600" offset="0"><span class="caret"></span>CHOOSE FROM BELOW... </button>
              <ul role="menu" class="dropdown-menu">
                <li class="active"><a data-qa="list_link" href="#find" href="#find" duration="600" offset="-71"> Find </a></li>
                <li class=""><a data-qa="list_link" href="#hire" href="#hire" duration="600" offset="-71"> Hire </a></li>
                <li><a data-qa="list_link" href="#work" href="#work" duration="600" offset="-71"> Work </a></li>
                <li><a data-qa="list_link" href="#pay" href="#pay" duration="600" offset="-71"> Pay </a></li>
              </ul>
            </div>
          </div>
        </section>
        <div id="find" class="sticky-anchor"></div>
        <section class="text-with-image text-with-faq body-content __m-b-0">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7"><img src="/ab/assets/Adquiro/e28957d/wp/images/find-CL.eac27d3a9e54.svg" alt=""></div>
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5 m-b-120">
                <h2 class="m-b-40 m-t-80">Easily find quality matches</h2>
                <p class="text-long m-b-40"> On Upwork you’ll find a range of top freelancers and agencies, from developers and development agencies to designers and creative agencies, copywriters, campaign managers, marketing agencies and marketers, customer support reps, and more.
                </p>
                <ul class="text-short m-b-40">
                  <li><strong>Start by posting a job.</strong> Tell us about your project and the specific skills required. <a href="/hiring/education/how-to-hire-freelancers/#module_2" target="_blank">Learn how.</a></li>
                  <li><strong>Upwork analyzes your needs.</strong> Our search functionality uses data science to highlight the best freelancers and agencies based on their skills, helping you find talent that’s a good match. </li>
                  <li><strong>We send you a shortlist of likely candidates.</strong> You can also search our site for specialized freelancers and professional agencies who can view your job and submit proposals too. </li>
                </ul>
                <ul ui-accordion="" class="accordion body-content ng-isolate-scope">
                  <li class="item ng-scope" id="faq-1" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> Will Upwork screen the proposals I receive? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short m-b-20">We have several measures in place to ensure Upwork is a fair and reliable marketplace. We use multiple means to verify that freelancers and agencies are who they say they are. Information is also displayed that gives you a sense
                        of each person’s skill level. In part, this includes:</p>
                      <ul class="text-short m-b-20">
                        <li> Authenticating email addresses </li>
                        <li> Verifying identity through ID and video verification </li>
                        <li> Displaying Job Success scores and client feedback on past projects for every freelancer and agency </li>
                        <li> Providing results of online skills tests </li>
                      </ul>
                      <p class="text-short m-b-20">Ultimately, it’s your responsibility to screen prospective freelancers and agencies to make sure their skills and experience meet the needs of your project. Custom screening questions can be included in your job post, and Upwork
                        Messages provides chat and video conference tools for interviewing finalists.</p>
                    </div>
                  </li>
                  <li class="item ng-scope" id="faq-2" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> Can Upwork help find freelancers and agencies for me? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short">With <a href="/enterprise/resources/contact-us/get-started-upwork-business/" class="font-gotham-medium">Upwork Business</a> you get access to a team of dedicated advisors who can help you find quality talent faster and more affordably
                        than traditional staffing providers.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <div id="hire" class="sticky-anchor"></div>
        <section class="text-with-image text-with-faq body-content __m-b-0">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center"><img src="/ab/assets/Adquiro/e28957d/wp/images/hire.9f5208d54080.svg" alt=""></div>
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-offset-1 col-lg-offset-2 m-b-120">
                <h2 class="m-b-40 m-t-80">Hire the best</h2>
                <p class="text-long m-b-40"> Invite favorite candidates to submit bids, then review and hire your favorite. </p>
                <ul class="text-short m-b-40">
                  <li><strong>Browse profiles.</strong> View finalists’ Upwork profiles to see client ratings, portfolios, Job Success scores, and more. </li>
                  <li><strong>Review proposals.</strong> Evaluate bids, taking into account their qualifications, thought process, timeline, and overall cost. <a href="/hiring/education/how-to-hire-freelancers/#module_3" target="_blank">Learn how.</a></li>
                  <li><strong>Schedule a chat.</strong> Ask specific questions, determine who’s the best fit, and contract. </li>
                </ul>
                <ul ui-accordion="" class="accordion body-content ng-isolate-scope">
                  <li class="item ng-scope" id="faq-1" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> What do I look for when hiring on Upwork? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short m-b-20">You can evaluate freelancers and agencies by reviewing their Upwork profile. Each freelancer and agency in our marketplace has an Upwork profile. It can include work experience and samples, client feedback, skills test scores, and
                        much more. You may also want to look for freelancers and agencies in our Top Rated and Rising Talent programs. Then, have a quick interview with your top candidates to answer questions related to your project.</p>
                    </div>
                  </li>
                  <li class="item ng-scope" id="faq-2" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> How do I hire on Upwork? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short">Once you've <a href="/signup/?dest=home" target="_blank">signed up</a>, you can post a job, review matches, interview via chat or video, and engage your preferred candidate — all on Upwork. Watch our <a href="/hiring/education/how-to-hire-freelancers/"
                          target="_blank">how-to video series</a> to learn more.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <div id="work" class="sticky-anchor"></div>
        <section class="text-with-image text-with-faq body-content __m-b-0">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7"><img src="/ab/assets/Adquiro/e28957d/wp/images/work.4f748c9707ba.svg" alt=""></div>
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5 m-b-120">
                <h2 class="m-b-40 m-t-80">Work efficiently, effectively.</h2>
                <p class="text-long m-b-40"> Each project includes an online workspace shared by your team and your freelancer or agency, allowing you to: </p>
                <ul class="text-short m-b-40">
                  <li><strong>Send and receive files.</strong> Deliver digital assets in a secure environment. </li>
                  <li><strong>Share feedback in real time.</strong> Use Upwork Messages to communicate via text, chat, or video. <a href="/hiring/education/how-to-hire-freelancers/#module_4" target="_blank">Learn how.</a></li>
                  <li><strong>Use our mobile app.</strong> Many features can be accessed on your mobile phone when on the go. </li>
                </ul>
                <ul ui-accordion="" class="accordion body-content ng-isolate-scope">
                  <li class="item ng-scope" id="faq-1" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> How do I know I am being billed accurately for my project? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short m-b-20">Several methods of verifying work are built into Upwork. On hourly contracts, you can review the Work Diary. It tracks billable time and records completed work. While the freelancer or agency is billing you, Upwork also counts keystrokes
                        and takes screenshots of their screen (six times per hour), so you can verify billable hours. On fixed-price jobs, you and your contractor agree on milestones for each project. When they reach a milestone, you review the work and
                        release funds when the work is approved.</p>
                      <p class="text-short m-b-20">We also include Upwork Messages so you can chat and share files.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <div id="pay" class="sticky-anchor"></div>
        <section class="text-with-image text-with-faq body-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center"><img src="/ab/assets/Adquiro/e28957d/wp/images/payment.e26f09fb5308.svg" alt=""></div>
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-offset-1 col-lg-offset-2 m-b-120">
                <h2 class="m-b-40 m-t-120">Pay easily, with peace of mind</h2>
                <p class="text-long m-b-40"> Pay by the hour, or a fixed price for the entire project. On fixed-price jobs, use our licensed escrow service to release funds as pre-set milestones are met. </p>
                <ul class="text-short m-b-40">
                  <li><strong>Simplified global payments.</strong> We deliver payments to freelancers and agencies in over 170 countries. </li>
                  <li><strong>Includes Upwork Payment Protection.</strong> Only pay for work you authorize. </li>
                  <li><strong>Invoicing and reporting.</strong> Access your invoices and transaction history on Upwork. </li>
                </ul>
                <ul ui-accordion="" class="accordion body-content ng-isolate-scope">
                  <li class="item ng-scope" id="faq-1" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> How do I pay and what does it cost? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short m-b-20">Upwork makes paying freelancers and agencies simple and secure. Choose to pay using MasterCard, Visa, American Express, Discover, or PayPal. Most payments are subject to a 3% processing fee.</p>
                    </div>
                  </li>
                  <li class="item ng-scope" id="faq-2" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> Can I get an official invoice? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short m-b-20">Yes, all payments have invoices that can be downloaded or printed.</p>
                    </div>
                  </li>
                  <li class="item ng-scope" id="faq-3" ui-accordion-item="">
                    <h4 class="title"><a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope"> Do I have to file tax forms? </span></a></h4>
                    <div class="content text-short" style="max-height: 0px; margin: 0px;">
                      <p class="text-short m-b-20">You should not be responsible for filing 1099-MISC forms for your freelancer or agency.</p>
                      <p class="text-short m-b-20">One of the benefits of paying through Upwork is that, in general, if your talent is correctly classified as an independent contractor you should not be responsible for reporting payments on Form 1099-MISC. The reason is that our
                        escrow service is a “third-party payment network.” When you make payments through our third-party payment network, Form 1099 reporting becomes our responsibility, not yours. Specifically, we are obligated to report payments to
                        independent contractors on Form 1099-K when applicable, which means you should not be obligated to report on Form 1099-MISC. Therefore, Upwork no longer sends Form 1099-MISC on behalf of clients, and all freelancers and agencies
                        classified as U.S. Persons must submit Form W-9 information to us on the Upwork site, so that our escrow service can accurately report on Form 1099-K.</p>
                      <p class="text-short m-b-20">The foregoing assumes you have correctly classified your talent as an independent contractor to you, instead of an employee.<br> As a reminder, you are responsible to determine <a href="/hiring/enterprise/employee-or-ic-compliance-at-a-glance/">proper classification</a>                        of all of your freelancers as either independent contractors or employees. For U.S.-based freelancers, you should refer to the <a href="https://www.irs.gov/Businesses/Small-Businesses-&amp;-Self-Employed/Independent-Contractor-Self-Employed-or-Employee">IRS guidelines</a>                        and other federal, state, and local regulations applicable to you. If your freelancer should be classified as an employee, then you should use the <a href="/i/payroll-client/">Upwork Payroll</a> service. When you use this service,
                        our staffing provider will employ the worker, handle all of the withholding and payment of taxes, and provide the worker with a Form W-2.</p>
                      <p class="text-short m-b-20">Naturally, we’re not experts on tax matters for your specific business, so you should consult a tax professional if you have questions or concerns about this or any other tax-related issues. If you’re not based in the U.S. or have
                        additional questions, please consult your local tax representative for more information on filing tax forms in your country.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section data-qa-section="payoff" class="text-center payoff-section bg-grass">
          <div class="container">
            <div class="row">
              <div class=" col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 data-qa="title" class=" m-t-80 m-b-40">Ready to find freelancers and agencies?</h2>
                <a tracking-event="click" tracking-location="vs_core_how_it_works_client" tracking-sublocation="payoff" tracking-data="[]" tracking-label="" tracking-value="" tracking-item-type="null" tracking-olog="1" tracking-snowplow="1" tracking-gtm="1" tracking-element="payoff-cta"
                  tracking-gtm-event="ga" data-qa="cta" href="/signup/?dest=home" class="btn btn-white-border btn-block-xs m-b-120"> Get Started </a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <section class="page-footer p-t-60 p-b-0" tracking-event="impression" tracking-location="vs_core_how_it_works_client" tracking-sublocation="footer" tracking-data="[]" tracking-label="footer_section" tracking-value="" tracking-item-type="null" tracking-olog="1"
        tracking-snowplow="1" tracking-gtm="1" tracking-element="" tracking-gtm-event="ga">
        <div class="container">
          <div class="footer-sitemap">
            <div ui-accordion="" ui-accordion-footer="" class="row ng-isolate-scope accordion-footer">
              <div class="col-sm-4 col-md-offset-1 col-md-3">
                <div ui-accordion-item="" class="item ng-scope">
                  <h4 class="text-uppercase m-b-40 title"><a ng-click="toggle()" ng-href="" ng-transclude="" ui-accordion-item-toggle=""><span class="ng-scope">Company</span></a></h4>
                  <ul class="list-unstyled text-short">
                    <li><a href="/about/" target="_self">About Us</a></li>
                    <li><a href="https:///investors.upwork.com/" target="_self">Investor Relations</a></li>
                    <li><a href="/careers.upwork.com/homepage" target="_self">Careers</a></li>
                    <li><a href="/press/" target="_self">Press</a></li>
                    <li><a href="/i/trust-safety-mission/" target="_self">Trust &amp; Safety</a></li>
                    <li><a href="/legal/" target="_self">Terms of Service</a></li>
                    <li><a href="/legal/privacy/" target="_self">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4 col-md-offset-1 col-md-3">
                <div ui-accordion-item="" class="item ng-scope">
                  <h4 class="text-uppercase m-b-40 title"><a ng-click="toggle()" ng-href="" ng-transclude="" ui-accordion-item-toggle=""><span class="ng-scope">Resources</span></a></h4>
                  <ul class="list-unstyled m-b-40 text-short">
                    <li><a href="http://upworklocal.com/hc/en-us" target="_self">Customer Support</a></li>
                    <li><a href="/hiring/" target="_self">Hiring Headquarters</a></li>
                    <li><a href="/i/hiring-guides/" target="_self">Hiring Resources</a></li>
                    <li><a href="/blog/" target="_self">Upwork Blog</a></li>
                    <li><a href="/ppc/video-portal/" target="_self">Customer Stories</a></li>
                    <li><a href="/i/business-resources/" target="_self">Business Resources</a></li>
                    <li><a href="/i/payroll-client/" target="_self">Payroll Services</a></li>
                  </ul>
                </div>
              </div>
              <div ui-accordion-item="" class="col-sm-4 col-md-offset-1 col-md-3 ng-scope">
                <div ui-accordion-item="" class="item ng-scope">
                  <h4 class="text-uppercase m-b-40 title"><a ng-click="toggle()" ng-href="" ng-transclude="" ui-accordion-item-toggle=""><span class="ng-scope">Browse</span></a></h4>
                  <ul class="list-unstyled text-short">
                    <li><a href="/hire/" target="_self">Freelancers by Skill</a></li>
                    <li><a href="/l/us/" target="_self">Freelancers in USA</a></li>
                    <li><a href="/l/gb/" target="_self">Freelancers in UK</a></li>
                    <li><a href="/l/ca/" target="_self">Freelancers in Canada</a></li>
                    <li><a href="/l/au/" target="_self">Freelancers in Australia</a></li>
                    <li><a href="/freelance-jobs/united-states/" target="_self">Jobs in USA</a></li>
                    <li><a href="/freelance-jobs/" target="_self">Find Jobs</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-social">
            <hr class="hidden-xs m-b-40">
            <div class="row">
              <div class="col-sm-6 social-links">
                <h3 class="text-short pull-left title"><a>Follow us</a></h3>
                <ul class="pull-left list-inline content">
                  <li class="facebook">
                    <a title="Visit Upwork on Facebook" target="_blank" href="https://www.facebook.com/upwork"><img src="/ab/assets/Adquiro/e28957d/wp/images/icon-fb.d996eb0d6bdd.svg" alt=""></a>
                  </li>
                  <li class="linkedin">
                    <a title="Read Upwork company news on LinkedIn" target="_blank" href="https://www.linkedin.com/company/upwork"><img src="/ab/assets/Adquiro/e28957d/wp/images/icon-linkedin.0d3a5d144873.svg" alt=""></a>
                  </li>
                  <li class="twitter">
                    <a title="Follow @Upwork on Twitter" target="_blank" href="https://twitter.com/Upwork"><img src="/ab/assets/Adquiro/e28957d/wp/images/icon-twitter.f6394db3b5fd.svg" alt=""></a>
                  </li>
                  <li class="youtube">
                    <a title="Watch Upwork videos on YouTube" target="_blank" href="https://www.youtube.com/channel/UCvxGFOnwUBDHHcxuPqhe4CQ"><img src="/ab/assets/Adquiro/e28957d/wp/images/icon-youtube.b10bb6283418.svg" alt=""></a>
                  </li>
                  <li class="instagram">
                    <a title="Follow Upwork on Instagram" target="_blank" href="https://www.instagram.com/upworkinc/"><img src="/ab/assets/Adquiro/e28957d/wp/images/icon-instagram.98280b43e30f.svg" alt=""></a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 apps-links text-right">
                <hr class="visible-xs m-b-20">
                <h3 class="text-short">Mobile app</h3>
                <br class="visible-xs clearfix m-b-20">
                <ul class="pull-right list-inline">
                  <li class="apple">
                    <a title="Download Upwork app from Itunes" target="_blank" href="https://apps.apple.com/us/developer/upwork-global-inc/id329377609"><img src="/ab/assets/Adquiro/e28957d/wp/images/icon-apple.950eb3713eb2.svg" alt=""></a>
                  </li>
                  <li class="android">
                    <a title="Download Upwork app from Google Play" target="_blank" href="https://play.google.com/store/apps/dev?id=8802639270489632480"><img src="/ab/assets/Adquiro/e28957d/wp/images/icon-android.7449b1f42227.svg" alt=""></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
                <hr class="visible-xs m-t-30">
              </div>
            </div>
            <hr class="hidden-xs m-t-40">
          </div>
          <div class="page-footer">
            <div class="container">
              <p class="text-center">© 2015 - 2019 Upwork Global Inc. </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->
  < <ul eo-dropdown-menu="" eo-dropdown-toggle-hover="" role="menu" class="dropdown-menu font-gotham-book m-t-0 dropdown-menu-left dropdown-arrow-left" style="top: 0px; display: none; left: 0px; right: auto;">
    <li nav-responsive-elem="" elem-id="1" elem-in-more="true" class="ng-scope ng-hide"><a data-qa="list_link" href="#find" href="#find" duration="600" offset="-71"> Find </a></li>
    <li nav-responsive-elem="" elem-id="2" elem-in-more="true" class="ng-scope ng-hide"><a data-qa="list_link" href="#hire" href="#hire" duration="600" offset="-71"> Hire </a></li>
    <li nav-responsive-elem="" elem-id="3" elem-in-more="true" class="ng-scope ng-hide"><a data-qa="list_link" href="#work" href="#work" duration="600" offset="-71"> Work </a></li>
    <li nav-responsive-elem="" elem-id="4" elem-in-more="true" class="ng-scope ng-hide"><a data-qa="list_link" href="#pay" href="#pay" duration="600" offset="-71"> Pay </a></li>
    </ul>
    <div style="display: none; visibility: hidden;"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/script.js"></script>

</html>