<html lang="en" class="featureDetectInputDate">

<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
        
        ng\:form {
            display: block;
        }
        
        .ng-animate-shim {
            visibility: hidden;
        }
        
        .ng-anchor {
            position: absolute;
        }
        .navbar-brand {
            background-image: url("/logo.svg") !important;
        }
    </style>
    <meta name="robots" content="noodp,nodir,noydir">
    <meta name="keywords" content="Offshore outsourcing, Freelancers, India, Russia, Ukraine, php Programmers, Coders, Developers, Writers, Web Designers, Website Design, Technical Writers">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <style data-styles="">
        base-styles,
        docs-card,
        test-app,
        test-app-dropdowns,
        test-app-dropdowns-search,
        test-app-modals,
        test-app-sliders,
        ugc-cookie-banner,
        ugc-cookie-banner-internal,
        up-c-alert,
        up-c-auto-scroll,
        up-c-avatar,
        up-c-bottom-sheet,
        up-c-bottom-sheet-header,
        up-c-btn,
        up-c-card,
        up-c-card-footer,
        up-c-card-header,
        up-c-card-section,
        up-c-close-icon,
        up-c-container,
        up-c-dialog,
        up-c-dropdown,
        up-c-dropdown-item,
        up-c-dropdown-search,
        up-c-dropdown-toggle,
        up-c-error-page,
        up-c-file-picker,
        up-c-file-picker-dropbox,
        up-c-form-group,
        up-c-fullscreen,
        up-c-fullscreen-placeholder,
        up-c-fullscreen-styles,
        up-c-header,
        up-c-icon,
        up-c-icon-demo-page,
        up-c-illustration,
        up-c-img,
        up-c-img-progressive,
        up-c-infinite-scroll,
        up-c-input-clear,
        up-c-intersection-observer,
        up-c-intl-phone-number,
        up-c-job-success-score,
        up-c-line-clamp,
        up-c-load-button,
        up-c-load-svg,
        up-c-logo,
        up-c-media-object,
        up-c-modal,
        up-c-on-click-outside,
        up-c-on-drop-outside,
        up-c-on-media-change,
        up-c-pagination,
        up-c-prevent-body-scroll,
        up-c-prevent-body-scroll-styles,
        up-c-progress-bar,
        up-c-progress-loader-bar,
        up-c-relative-time,
        up-c-row,
        up-c-select,
        up-c-select-option,
        up-c-skip-link,
        up-c-slider,
        up-c-sortable,
        up-c-sticky-footer,
        up-c-table,
        up-c-toaster,
        up-c-toaster-container,
        up-c-toggle,
        up-c-toggler,
        up-c-transition,
        up-docs-illustration-page,
        up-footer,
        up-footer-copyright,
        up-footer-feedback-form,
        up-footer-feedback-link,
        up-footer-feedback-modal,
        up-footer-links-section,
        up-footer-skinny,
        up-footer-social-links,
        up-footer-visitor,
        up-footer-visitor-accordion,
        up-footer-visitor-accordion-item,
        up-header-offcanvas-toggle,
        up-header-on-body-scrolled-change,
        up-header-search,
        up-header-search-menu,
        up-header-visitor-dropdown-menu-subnav,
        up-header-visitor-primary-nav,
        up-track {
            visibility: hidden
        }
        
        .hydrated {
            visibility: inherit
        }
        
        .background-orange-important {
            background-color: rgb(255, 115, 0) !important;
        }
        
        .orange-important {
            color: rgb(255, 115, 0) !important;
        }

        .orange-border-hover:hover {
            border-color: rgb(255, 115, 0) !important;
        }
        .orange-border-hover:focus {
            border-color: rgb(255, 115, 0) !important;
        }
    </style>
    <style>
        .sc-up-c-illustration-h {
            display: inline-block;
            min-height: var(--illustration-min-height, 130px);
            min-width: var(--illustration-min-width, 145px);
            height: var(--illustration-height, 130px);
            width: var(--illustration-width, 145px)
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Log in at Upwork, the world's top freelancing website. Hire expert freelancers in the U.S. or worldwide and grow your business. Get it done with a freelancer on Upwork.">
    <link rel="canonical" href="/ab/account-security/login">
    <title>Log In - Upwork</title>
    <link rel="stylesheet" href="/components/12.9.0/air2.global.responsive.12.9.0.min.css" onload="">
    <link rel="stylesheet" href="/fonts/2.4.0/fonts.air2-icons.2.4.0.css" onload="">
    <link rel="stylesheet" href="/fonts/2.4.0/fonts.gotham.2.4.0.css" onload="">
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style></style>
    <template>
            <style>.sc-up-c-illustration-h{display:inline-block;min-height:var(--illustration-min-height,130px);min-width:var(--illustration-min-width,145px);height:var(--illustration-height,130px);width:var(--illustration-width,145px)}</style>
        </template>
    <style type="text/css" id="nmgStyle"></style>
    <a tabindex="-1" aria-hidden="true" href="/ab/account-security/login?_pxhc=1573625237785" rel="nofollow" target="_blank" style="width: 0px; height: 0px; font-size: 0px; line-height: 0;"></a>
</head>

<body data-ng-app="account-security-ui" data-ng-strict-di="" class="  ">
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <up-c-skip-link class="sr-only hydrated" href="#main" dest-selector="#main"><a href="#main">Skip to main content</a></up-c-skip-link>
    <div class="off-canvas-container">
        <div class="off-canvas d-lg-none">
            <nav class="navbar" aria-label="Navigation bar">
                <div class="container">
                    <div class="navbar-header">
                        <div></div>
                        <a class="navbar-brand" href="/" target="_self">
                                Upwork
                                
                            </a>
                        <up-header-offcanvas-toggle class="hydrated">
                            <button class="navbar-toggle" type="button" aria-controls="skinny-nav">
                                <span class="sr-only">Close navigation</span>
                                <span class="glyphicon glyphicon-md m-0 air-icon-close text-primary vertical-align-middle" aria-hidden="true"></span>
                                </button>
                        </up-header-offcanvas-toggle>
                    </div>
                    <div class="navbar-collapse" id="skinny-nav">
                        <div class="navbar-text navbar-right">
                            <p class="m-0-bottom">
                                <span>Already have an Upwork account?</span>
                                <br>
                                <a class="navbar-link" href="/ab/account-security/login" target="_self">Log In</a>
                            </p>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="off-canvas-content">
            <div id="layout">
                <div data-o-smf="" data-o-smf-location="very_top">
                    <!---->
                </div>
                <nav class="navbar" aria-label="Navigation bar" data-ng-controller="headerController">
                    <div class="container">
                        <div class="navbar-header d-flex justify-content-center">
                            <a class="navbar-brand" href="/" target="_self">Upwork</a>
                        </div>
                    </div>
                </nav>
                <main id="main" tabindex="0" class="container p-0-top-bottom-xs p-lg-top-bottom m-0-left-right-xs auth-growable-flex" data-ng-controller="loginCtrl">
                    <div class="p-0-left-right-xs m-0-left-right-xs col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 auth-growable-flex">
                        <div>
                            <div id="js-loading-failed-message" class="alert alert-danger hidden" role="alert" type="danger">
                                <span aria-hidden="true" class="glyphicon air-icon-exclamation"></span>
                                <div><span>Due to technical difficulties we are unable to process your request. Please try again later</span></div>
                            </div>
                        </div>
                        <div class="">
                            <!---->
                            <!---->
                        </div>
                        <div eo-block="" target="#main-auth-card"></div>
                        <div class="air-card p-0-left-right-xs p-0-bottom m-0-top-bottom-xs auth-growable-flex" id="main-auth-card">
                            <form name="login" method="post" action="/ab/account-security/login" class="form auth-growable-flex ng-pristine ng-invalid ng-invalid-required ng-valid-inline-validator ng-valid-pattern" data-ng-hide="isActiveScreen('passwordExpired')">
                                <auth-meta meta-group-name="username" sub-location="username_screen" submit-label="continue" open-impression-label="username_screen_impression" error-label="error_event_username"></auth-meta>
                                <div data-ng-show="isActiveScreen('username')" class="ng-animate-disabled p-xs-top auth-growable-flex">
                                    <div class="text-center flex-1 ">
                                        <div class="col-md-10 col-md-offset-1 ">
                                            <div class="m-xs-top d-none d-sm-block"> </div>
                                            <div class="m-sm-top d-block d-sm-none"> </div>
                                            <h1 class="text-center m-0 ">
                                                Log in and get to work
                                            </h1>
                                            <div class="m-sm-bottom p-sm-bottom d-block d-sm-none"> </div>
                                            <div class="m-lg-bottom d-none d-sm-block"> </div>
                                            <div class="form-group has-success has-feedback m-0-bottom">
                                                <input type="text" inputmode="email" class="form-control p-md-right ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-inline-validator ng-touched orange-border-hover" aria-describedby="input-username" id="login_username" name="login[username]" required="required"
                                                    data-auth-model="username" placeholder="Username or Email" auth-inline-validator="inlineErrorFlag['username']" autocomplete="username" ng-model="data['login[username]']" ng-model-options="{&quot;updateOn&quot;: &quot;updateEvent&quot;}"
                                                    style="">
                                                <span class="glyphicon air-icon-user form-control-feedback orange-important" aria-hidden="true"></span>
                                                <span class="sr-only" id="input-username">(user)</span>
                                                <input ng-non-bindable="" type="hidden" id="last-username" data-value="" autocomplete="off">
                                            </div>
                                            <div class="m-md-bottom">
                                                <span ng-messages="login['login[username]'].$dirty &amp;&amp; login['login[username]'].$error" class="ng-inactive">
                                                        <!---->
                                                        <!---->                        
                                                    </span>
                                            </div>
                                            <button type="submit" class="btn-block-sm width-sm btn btn-primary m-0 text-capitalize background-orange-important" data-ng-disabled="isSubmitDisabled() || isLoading" data-ng-click="submitUsername($event)">Continue</button>
                                            <div class="p-lg-bottom d-block d-sm-none"> </div>
                                            <div class="m-lg-bottom p-lg-bottom p-sm-top d-none d-sm-block"> </div>
                                        </div>
                                    </div>
                                    <footer class="p-0-top-bottom d-none-mobile-app m-0-left-right-xs p-0-left-right-xs text-center">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="p-md-top-bottom m-md-bottom">
                                                <div class="line-heading p-sm-bottom m-sm-top-bottom text-muted">New to Upwork?</div>
                                                <a class="btn btn-default btn-block-sm width-sm m-sm-top m-0-bottom m-0-left-right orange-important" ng-click="logClickEvent('sign_up')" href="/signup/create-account">
                                                    Sign Up
                                                    </a>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                                <auth-meta meta-group-name="password" sub-location="password_screen" submit-label="login" submit-data-callback="passwordSubmitExtraEventData" open-impression-label="success_event_user_recognized" error-label="error_event_password"></auth-meta>
                                <div data-ng-show="isActiveScreen('password')" class="text-center ng-animate-disabled flex-1 auth-growable-flex ng-hide">
                                    <div class="flex-1 ">
                                        <div class="col-md-10 col-md-offset-1 ">
                                            <div class="m-xs-top d-none d-sm-block"> </div>
                                            <div class="m-sm-top d-block d-sm-none"> </div>
                                            <h1 class="text-center m-0 p-md-bottom">
                                                Welcome
                                            </h1>
                                            <div class="small text-center m-sm-bottom p-xs-bottom ellipsis"></div>
                                            <div class="form-group has-success has-feedback m-xs-bottom">
                                                <input class="form-control p-md-right ng-pristine ng-untouched ng-empty ng-valid-pattern ng-valid-inline-validator ng-valid ng-valid-required" aria-describedby="input-password" type="password" id="login_password" name="login[password]" data-auth-model="password"
                                                    clear-on-error="true" placeholder="Password" auth-placeholder="Password" auth-inline-validator="inlineErrorFlag['password']" ng-required="isActiveScreen('password')" data-ng-pattern="/\S/" autocomplete="current-password"
                                                    ng-model="data['login[password]']" ng-model-options="{&quot;updateOn&quot;: &quot;updateEvent&quot;}">
                                                <span class="glyphicon air-icon-password form-control-feedback" aria-hidden="true"></span>
                                                <span class="sr-only" id="input-password">(password)</span>
                                            </div>
                                            <div>
                                                <span ng-messages="login['login[password]'].$dirty &amp;&amp; login['login[password]'].$error" class="ng-inactive">
                                                        <!---->
                                                        <!---->                            <!---->                        
                                                    </span>
                                            </div>
                                            <div class="clearfix">
                                                <div class="pull-left d-none-mobile-app">
                                                    <div class="checkbox">
                                                        <label class="no-border">
                                                            <input type="checkbox" id="login_rememberme" name="login[rememberme]" class="form-control form-control ng-pristine ng-untouched ng-valid ng-empty" data-auth-model="rememberme" value="1" ng-model="data['login[rememberme]']" ng-model-options="{&quot;updateOn&quot;: &quot;updateEvent&quot;}"><span class="checkbox-replacement-helper"><span aria-hidden="true" class="glyphicon air-icon-check"></span></span>
                                                            Keep me logged in    </label>
                                                    </div>
                                                </div>
                                                <div class="pull-right text-right p-xs-top d-none d-md-block">
                                                    <a ng-click="logClickEvent('forgot_password')" href="/ab/account-security/reset-password">Forgot password?</a>
                                                </div>
                                            </div>
                                            <div class="ng-hide" data-ng-show="isCaptchaRequired()">
                                                <div class="form-group m-sm-bottom m-lg-top">
                                                    <input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-valid-inline-validator ng-valid ng-valid-required" id="login_captcha" name="login[captcha]" data-auth-model="captcha" clear-on-error="always" placeholder="Enter the Code Shown Below"
                                                        auth-inline-validator="inlineErrorFlag['captcha']" data-ng-required="isCaptchaRequired()" ng-model="data['login[captcha]']" ng-model-options="{&quot;updateOn&quot;: &quot;updateEvent&quot;}">
                                                    <span ng-messages="login['login[captcha]'].$dirty &amp;&amp; login['login[captcha]'].$error" class="ng-inactive">
                                                            <!---->
                                                            <!---->                        
                                                        </span>
                                                    <div class="m-md-top text-center">
                                                        <img id="captcha-img" src="" title="captcha" width="194" height="67">
                                                    </div>
                                                    <div class="m-md-bottom d-block d-sm-none"></div>
                                                </div>
                                            </div>
                                            <div class=" m-xs-top d-block d-md-none"></div>
                                            <div class="p-md-top m-xs-top d-none d-md-block"></div>
                                            <button type="submit" class="btn-block-sm width-sm btn btn-primary m-0 text-capitalize" data-ng-disabled="isSubmitDisabled() || isLoading" data-ng-click="submit($event)">Log In</button>
                                            <div class="clearfix d-block d-md-none m-md-top">
                                                <div class="pull-left">
                                                    <a ng-click="logClickEvent('forgot_password')" href="/ab/account-security/reset-password">Forgot password?</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="" data-ng-click="changeUser()">Not you?</a>
                                                </div>
                                            </div>
                                            <div class="m-sm-top p-xs-top d-none d-md-block">
                                                <a href="" data-ng-click="changeUser()">Not you?</a>
                                            </div>
                                            <div class="p-lg-bottom d-block d-sm-none"> </div>
                                            <div class="m-lg-bottom p-lg-bottom p-sm-top d-none d-sm-block"> </div>
                                        </div>
                                    </div>
                                </div>
                                <auth-meta meta-group-name="sq" sub-location="challenge_screen" submit-label="continue" submit-data-callback="challengeSubmitExtraEventData" open-impression-label="challenge_screen_impression" extra-data-callback="challengeEventCallback" error-label="error_event_challenge"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="phone" sub-location="challenge_screen" submit-label="continue" submit-data-callback="challengeSubmitExtraEventData" open-impression-label="challenge_screen_impression" extra-data-callback="challengeEventCallback" error-label="error_event_challenge"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="email" sub-location="challenge_screen" submit-label="continue" submit-data-callback="challengeSubmitExtraEventData" open-impression-label="challenge_screen_impression" extra-data-callback="challengeEventCallback" error-label="error_event_challenge"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="sqEmail" sub-location="challenge_screen" submit-label="continue" submit-data-callback="challengeSubmitExtraEventData" open-impression-label="challenge_screen_impression" extra-data-callback="challengeEventCallback" error-label="error_event_challenge"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="tryAgainPhone" sub-location="challenge_screen"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="tryAgainEmail" sub-location="challenge_screen"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="switchToEmail" sub-location="challenge_screen" open-impression-label="error_event_challenge_exhaustion" open-impression-callback="challengeExhaustionEventCallback" error-label="error_event_challenge"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="switchToPhone" sub-location="challenge_screen" open-impression-label="error_event_challenge_exhaustion" open-impression-callback="challengeExhaustionEventCallback" error-label="error_event_challenge"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="createTicket" sub-location="ticket_screen" open-impression-label="ticket_screen_impression"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="sqEmailExpired" sub-location="ticket_screen" open-impression-label="ticket_screen_impression"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="createSqTicket" sub-location="forgot_sq_contact_us_resend_code_sqa"></auth-meta>
                                <!---->
                                <auth-meta meta-group-name="ticketSuccess" sub-location="ticket_screen"></auth-meta>
                                <div data-ng-show="isActiveScreen('ticketSuccess')" class="ng-animate-disabled flex-1 ng-hide">
                                    <div class="col-md-10 col-md-offset-1 text-center">
                                        <up-c-illustration name="customer-service" class="sc-up-c-illustration-h sc-up-c-illustration-s hydrated">
                                            <up-c-load-svg class="sc-up-c-illustration hydrated"></up-c-load-svg>
                                        </up-c-illustration>
                                        <p class="lead lead-md m-0-bottom">Thanks for your request</p>
                                        <p class="m-sm-bottom p-md-top p-lg-bottom p-sm-bottom p-lg-left-right">
                                            We'll email you with further instructions within 48 hours.
                                        </p>
                                    </div>
                                </div>
                                <input type="hidden" id="login_iovation" name="login[iovation]" data-auth-model="iovation" autocomplete="off" ng-model="data['login[iovation]']" ng-model-options="{&quot;updateOn&quot;: &quot;updateEvent&quot;}" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <input type="hidden" id="login_mode" name="login[mode]" data-auth-model="mode" autocomplete="off" ng-model="data['login[mode]']" ng-model-options="{&quot;updateOn&quot;: &quot;updateEvent&quot;}" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <input type="hidden" id="login_authToken" name="login[authToken]" data-auth-model="authToken" autocomplete="off" ng-model="data['login[authToken]']" ng-model-options="{&quot;updateOn&quot;: &quot;updateEvent&quot;}" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <input type="hidden" id="login_ssoUserData" name="login[ssoUserData]" autocomplete="off"><input type="hidden" id="login__token" name="login[_token]" autocomplete="off">
                            </form>
                            <auth-meta meta-group-name="passwordExpired" location="reset_password" sub-location="expired_password_screen" open-impression-label="success_event_email_sent"></auth-meta>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </main>
            </div>
            <footer class="footer-navbar-wrapper footer-skinny" role="contentinfo">
                <div class="container">
                    <up-track tracking-event="impression" tracking-sublocation="footer" tracking-label="footer_section" class="hydrated"></up-track>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="copyright">
                                © 2015 - 2019 Upwork® Global Inc.
                            </p>
                            <a href="/legal" target="_self">Terms of Service</a>
                            <br>
                            <a href="/legal#privacy" target="_self">Privacy Policy</a>
                            <br>
                            <a href="/legal#accessibility " target="_self">Accessibility</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</html>