/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
// define variable for the primary colors
$primary_1 : #a2b9bc;
$primary_2 : #b2ad7f;
$primary_3 : #878f99;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

// Use the variables
.main-header {
    background-color: $primary_1;
}

.main-left {
    background-color: $primary_2;
}

.menu-right {
    background-color: $primary_3; // here you can put an inline comment
}
